!DOCTYPE html>
<html>
<head>
  <title>CINDER | Home</title>
  <link rel="icon" href="/img/title.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  	*{
  		margin:0px;
  	}
  	body{
  		width: 100%;
  		background: url(/img/bg.jpg);
  		background-size: cover;
  		background-repeat: no-repeat;
  	}
  	.stuff{
  		float: right;
  		margin:2%;
  	}
  	a{
  		color: white;

  	}

  </style>
</head>

<body>
<nav class="stuff">

		<a href="/register">REGISTER</a>&nbsp;&nbsp;
		<a href="/login">LOGIN</a>

</nav>


<script>
$(document).ready(function(){
   

});
</script>

</body>
</html>
